GATEWAY_TICKER_UPDATE_INTERVAL=10000
GATEWAY_REQUEST_PRICE_TIMEOUT=5000
API_URL=http://www.mercadobitcoin.net/tapi/v3/
DRY_RUN=true
TAPI_SECRET=
TAPI_KEY=
RETRY_TIMEOUT=10000
COIN=LTC
SIGNAL_BUY=1
SIGNAL_SELL=-1
TREND_PERIOD=6
SIGNAL_PERIOD=2
SELL_SPREAD_MARGIN=0.9
BUY_SPREAD_MARGIN=1.1
